* {
  box-sizing: border-box;
}

footer {
  text-align: center;
  padding: 5px;
  margin-top: 5px;
  background-color: DarkSalmon;
  color: white;
  float: bottom;
}

.container {
  text-align: center;
}

.loader-container {
  width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	z-index: 1;
}

.header {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  justify-content: space-between;
  align-items: center;
}

.filter-bar {
  margin: 0 auto;
  padding: 2%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  justify-content: space-between;
  align-items: center;
}

.article-entry {
  margin: 0 auto;
  text-align: center;
}

.article-collapsed-button {
  width: 80%;
  margin-top: 5px;
  background-color: white;
  border: none;
}

.article-collapsed-entry {
  display: flex;
}

.article-collapsed-entry > span {
  padding: 2px 20px;
  width: 15%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.article-collapsed-entry > span.caret {
  width: 2%;
}

.article-collapsed-entry> span.title {
  padding-left: 0px;
  text-align: left;
  width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.article-details {
  margin: auto;
  padding: 1%;
  text-align: left;
  width: 80%;
}

.full-title {
  text-align: left;
  margin: 0px;
}

.doi {
  text-align: left
}

.title-tooltip {
  background-color: #0f0f0f;
  text-align: left;
  max-width: 80%;
  color: white;
  padding: 4px;
  border-radius: 5px;
}

.authors {
  width: 80%;
  text-align: left;
}

.authors-list {
  padding: 1%;
  display: inline;
  list-style: none;
}

.authors-list > li {
  display: inline;
}

.authors-list > li:after {
  padding-right: 1%;
  content: "; ";
}

.keywords {
  text-align: center;
}

.keyword-list {
  padding: 1%;
  display: inline;
  list-style: none;
}

.keyword-list > li {
  display: inline;
}

.keyword-list > li:after {
  padding-right: 1%;
  content: "; ";
}

.authors-list > li:last-child:after {
  content: "";
}

.abstract {
  text-align: left;
  text-justify: auto;
}

.collapse-caret {
  padding-left: 0px;
}

.select-box {
  text-align: left;
  width: 40%;
}

.search-bar-containter {
  text-align: left;
  width: 40%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
